*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  background-color: #423f3f;
}
main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 0.5rem;
}
main .left, 
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}
main .left{
  background-color: #3a3636;
  position: relative;
}

main .left .review-button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(209, 225, 240);
  color: #1f1c1c;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}
main .right{
  background-color: #3a3737;
  color: white;
  padding: 1rem 2rem;
  font-size:1.5rem;
  overflow: auto;
}